
<section>
    <div class="banner-img ">
        <!--backgound img-->
        <div class="relative"><img src="img/module/1.jpg" alt="bg-img" class="img-responsive">
            <div class="banner-img-text absolute">
                <h2>LEARN FORM</h2>
                <h2>THE BEST</h2>
                <h2>AT YOUR PACE AND</h2>
                <h2>YOUR CONVEINIANCE</h2>
                <button type="button" class="btn btn-danger"><b>Start My Free Trial</b></button>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <!--category section start-->
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="heading-category">
                    <h4>{{title}}</h4>
                </div>
                <div class="bg-gray">
                    <div class="category-img">
                        <img ng-src="{{image}}" alt="{{title}}" class="img-responsive">
                    </div>
                    <div class="ctergory-text">
                        <h5 class="margin0">{{title1}}</h5>
                        <p>{{title2}}</p>
                        <span>{{title3}}</span>
                          <span class="pull-right padd-r">{{title6}}</span>
                        <span class="pull-right text-bold">{{title5}}</span>
                        <span class="pull-right padd-r">{{title4}}</span>
                       


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--cource details section start-->
    <div>
        <div class="cource-detail">
        </div>
        <div class="cource-detail-heading">
        </div>
        <div class="cource-detail-text">
        </div>
    </div>

</div>


