<div class="login-modal">
    <div></div>
    <div class="company_logo"><img src="img/logo.png" alt="LOGO" height="40"></div>
    <div>
        <uib-tabset active="activeJustified" justified="false">
            <uib-tab index="0" heading="Login">
                <div class="login">
                    <form name="loginForm">
                        <div class="row">
                            <div class="input-field">
                                <div class="col-md-2">Name</div>
                                <div class="col-md-10">
                                    <div class="inner-addon left-addon">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <input type="text" class="form-control" name="name" ng-model="formData.name" data-toggle="tooltip" title="Please enter your name"
                                            autofocus required/>
                                        <span class="alignment" ng-show="loginForm.name.$touched && loginForm.name.$invalid">Please enter your name</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <div class="col-md-2">Password</div>
                                <div class="col-md-10">
                                    <div class="inner-addon left-addon">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <input type="password" name="password" ng-model="formData.password" class="form-control" data-toggle="tooltip" title="Please enter your password"
                                            required/>
                                        <span class="alignment" ng-show="loginForm.password.$touched && loginForm.password.$invalid">Please enter your password</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="login-btn pull-right">
                                    <div class="login_btn"><button type="submit" class="btn btn-danger" item-width="30px"><b>Login</b></button></div>
                                    <div class="forgot-text"><a href="">Forgot Your Password?</a></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Sign Up">
                <div class="signUp-title"><b>Start your 15 days free trial</b></div>
                <form class="signUpForm" name="signUp">
                    <div class="form-group">
                        <div class="signupfrm">
                            <div class="label-cls">
                                <label for="fullname" class="control-label">Full Name</label>
                            </div>
                            <div class="input-cls">
                                <input type="text" class="form-control" name="name" ng-model="formData.name" data-toggle="tooltip" title="Please enter your name"
                                    autofocus required/>
                            </div>
                            <div class="alignment" ng-show="signUp.name.$touched && signUp.name.$invalid">Please enter your name</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="signupfrm">
                            <div class="label-cls">
                                <label for="email" class="control-label">Email</label>
                            </div>
                            <div class="input-cls">
                                <input type="email" class="form-control" name="email" ng-model="formData.email" data-toggle="tooltip" title="Please enter your email"
                                    required/>
                            </div>
                            <div class="alignment" ng-show="signUp.email.$touched && signUp.email.$invalid">Please enter your email</div>
                        </div>
                    </div>
                    <div>
                        <label for="email">Email </label>
                        <input type="email" id="email">
                    </div>
                    <div>
                        <label for="remail">Re-enter Email </label>
                        <input type="email" id="remail">
                    </div>
                    <div>
                        <label for="password">Password </label>
                        <input type="password" id="password">
                    </div>
                    <div>
                        <label for="cpassword">Full Name </label>
                        <input type="password" id="cpassword">
                    </div>
                    <div>
                        <label for="country">Country </label>
                        <input type="text" id="country">
                    </div>
                    <div>
                        <label for="city">City </label>
                        <input type="text" id="city">
                    </div>
                    <div>
                        <label for="age">Age </label>
                        <input type="number" id="age">
                    </div>
                    <div>
                        <label for="gender">Gender </label>
                        <input type="text" id="gender">
                    </div>
                    <div>
                        <label for="message">How do you know about us </label>
                        <textarea id="message" rows="2" cols="50"></textarea>
                    </div>
                    <div>
                        <input type="checkbox" name="check" value="agree" />I agree with the <a href="">Terms &amp; Conditions</a>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger"><b>Sign Up</b></button>
                    </div>
                </form>
            </uib-tab>
        </uib-tabset>
    </div>
</div>