// Start of Home Page
.home {
    overflow: hidden;
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    .home_bg {
        position: relative;
        z-index: -1;
        .bgImage-text {
            @include position(absolute, 45%, 50%, null, null, null, null);
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            color: white;
            width: 100%;
            button {
                cursor: pointer;
                background-color: $red;
                border-radius: 10px;
                padding: 10px 65px;
                font-size: 18px;
            }
            h1 {
                font-family: 'Myriad Pro Bold';
                font-size: 38px !important;
            }
            h3 {
                @include mar(10px 0px);
                font-size: 24px !important;
            }
            .text-margin {
                @include mar(30px 0px);
            }
        }
        .bg-overlay {
            @include position(absolute, 0, 0, null, null, 100%, 100%);
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.bgImg-steps {
    @include pad(20px);
    width: 70%;
    @include mar(0px auto);
    background-color: #f3f3f3;
    margin-top: -117px;
    margin-bottom: 40px;
    z-index: 1;
    h4 {
        margin-bottom: 0px;
    }
    .img-width {
        max-height: 60px;
        img {
            height: 60px;
        }
    }
}

.courses {
    @include mar(0 30px);
    .course-img {
        position: relative;
        width: 350px;
        height: 250px;
        overflow: hidden;
        @include mar(10px);
        .course-imgoverlay {
            @include position(absolute, 0, 0, null, null, 100%, 100%);
            background-color: rgba(0, 0, 0, 0.5);
            pointer-events: none;
        }
        .course-text {
            @include position(absolute, 55%, 50%, null, null, null, null);
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            color: white;
            width: 100%;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    font-size: 24px;
                }
            }
        }
    }
}

.facilities {
    .redBg-img {
        position: relative;
        @include mar(80px auto);
        .redBg-content {
            @include position(absolute, 20%, 10%, null, null, 80%, null);
            color: white;
            .img-height {
                min-height: 80px;
                img {
                    width: 80px;
                }
            }
        }
    }
}

.about-title,
.course-title,
.testim-title {
    text-align: center;
    @include mar(20px auto);
    color: $font-color;
}

.about {
    .flex-direction-nav a {
        display: none;
    }
    .about-head {
        width: 650px;
        @include mar(30px auto);
        font-size: 16px;
        color: black;
    }
    .about-content {
        width: 850px;
        @include mar(0 auto);
        margin-bottom: 40px;
        font-size: 14px;
    }
}

.flex-control-paging li a {
    background: $red;
    margin: 0 3px;
}

.flex-control-paging li a.flex-active {
    background: black;
}

flexslider {
    width: 790px;
    margin: 0 auto;
    box-shadow: none;
}

.flexslider {
    background: transparent;
    border: 0;
}

.test-cont {
    background-color: #f3f3f3;
    margin-top: 30px;
    @include pad(30px);
    .testimonials {
        @include mar(30px 30px);
        .flex-direction-nav a:before {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 50px;
            display: inline-block;
            content: '\f104';
            color: rgba(0, 0, 0, 0.8);
        }
    }
    .flex-direction-nav .flex-prev {
        left: -55px !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 50px;
        display: inline-block;
        content: '\f104';
        color: black;
    }
    .flex-direction-nav .flex-next {
        right: -55px !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 50px;
        display: inline-block;
        content: '\f105';
        color: black;
    }
    .flex-direction-nav a.flex-next:before {
        content: '\f105';
    }
    .flex-control-nav {
        display: none;
    }
}

.flexslider-cards {
    border: 1px #CCC solid;
    box-shadow: 0px 11px 8px -10px #CCC, 0px -11px 8px -10px #CCC;
    margin: 0 20px;
    text-align: center;
    background: white;
    .flex-control-nav {
        display: none;
    }
    .flex-direction-nav a {
        display: block !important;
    }
    .card-content {
        position: relative;
        text-align: justify;
        padding-left: 12px;
        @include mar(30px 0);
        &:before {
            background-image: url(img/quotes.png);
            @include position(absolute, 0, 0, null, null, 30px, null);
        }
    }
    .card-quotesImg {
        @include position(absolute, 0, 0, null, null, 30px, null);
    }
    .card-spacing {
        padding: 30px;
        .card {
            text-align: center;
            .person {
                width: 200px;
            }
            .img-holder {
                width: 200px;
                height: 200px;
                margin: 0 auto;
            }
        }
    }
    .card-footer {
        text-align: right;
        .company-name {
            color: $red;
        }
    }
}

// End of Home Page