.relative{
position:relative;
}
.banner-img-text{
 position:absolute;
  top:0;
}
.margin0{
   margin: 0;
}

.ctergory-text{
  padding: 10px 15px;
  h5{
   
    line-height: 30px;
  }
 
  span{
 
     font-size: 13px;
     font-family: Myriad Pro Regular;
       color: #000;
  }
}
.bg-gray{
  background-color: #f6f6f6;
}
.padd-r{
padding-right: 10px;
}
.text-bold{
  font-family: Myriad Pro Bold !important;
}