/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$footer-menu:#bbb7c0;
$moduleDetBack:#f1f1f1;
$red:#eb0509;
$font-color:#ee080b;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// Mixins
@mixin position($position, $top, $left, $bottom, $right, $width, $height) {
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    width: $width;
    height: $height;
}

@mixin pad ($pads...) {
    padding: $pads;
}

@mixin mar ($mar...) {
    margin: $mar;
}

@mixin linx ($link, $visit, $hover, $active) {
    a {
        color: $link;
        &:visited {
            color: $visit;
        }
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
            border: 0;
        }
    }
}


/* Bootstrap Variables Goes Here */

@import "other/font-fix";
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/MyriadPro-Regular.otf') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: 300px;
    src: local('Myriad Pro Semibold'), url('../fonts/Myriad Pro Bold SemiExtended.ttf') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/Myriad Pro Bold SemiExtended.ttf') format('woff');
}

body {
    padding-top: 70px;
    background-size: 100%;
    font-family: Myriad Pro Regular;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

p {
    font-family: Myriad Pro Regular;
    font-size: 13px;
}

h5 {
    font-family: Myriad Pro Bold;
    font-size: 16px;
}

h4 {
    font-family: Myriad Pro Regular;
    font-size: 20px;
}

h3 {
    @include mar(10px 0px);
    font-size: 24px !important;
}

h1 {
    font-family: 'Myriad Pro Bold';
    font-size: 38px !important;
}

.footer_menu {
    background-color: #191919;
    color: white;
    .footer_menu_margin {
        margin: 40px 60px;
        ul {
            padding-left: 0px;
            list-style: none;
            a {
                text-decoration: none;
                color: $footer-menu;
                font-size: 12px;
            }
        }
    }
}

footer {
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px 0;
    p {
        margin-top: 7px;
    }
    a {
        margin-left: 20px;
        text-decoration: none;
        color: white;
    }
    .footer_margin {
        margin: 0 40px;
        .arr_des {
            text-align: center;
            margin-left: 20px;
            border: solid 1px white;
            border-radius: 100%;
            font-size: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
        .right-footer {
            display: inline-flex;
        }
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
    .navbar-default {
        background-color: #ffffff;
        border: 0;
    }
    .header_margin {
        margin: 0 40px;
        .relate {
            position: relative;
            display: inline-block;
        }
        i {
            position: absolute;
            right: 25px;
            top: 23px;
        }
    }
    input {
        margin: 20px;
        border: 0;
        border-bottom: solid 1px #000;
    }
    .right-nav {
        margin-top: 10px;
        button {
            background-color: $red;
            border-radius: 5px;
            padding: 5px;
            &:active.noshadow {
                border: 0;
                box-shadow: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
            }
        }
        p {
            a {
                text-decoration: none;
                color: #000;
                font-size: 16px;
            }
            display: inline-block;
            margin: 10px;
        }
    }
}

.nav-up {
    transform: translateY(-100%);
}

//start of module details test page
.moduleBackground {
    background-color: $moduleDetBack;
}

.moduleTest {
    @include margin(10px 40px);
}

.video-div {
    background-color: white;
    .video-head {
        @include pad(15px 10px);
        font-size: 16px;
        color: black;
    }
    .video-img {
        position: relative;
        .video-overlay {
            background-color: rgba(0, 0, 0, 0.4);
            @include position(absolute,
            0,
            0,
            null,
            null,
            100%,
            100%);
        }
        .videologo-pos {
            @include position(absolute,
            50%,
            50%,
            null,
            null,
            150px,
            150px);
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
    }
}

.rel-course {
    button {
        background-color: #fd393b;
        border-radius: 7px;
        font-size: 18px;
        font-family: Myriad Pro Semibold;
    }
    .back-color {
        max-height: 590px;
        overflow-y: auto;
        overflow-x: hidden;
        @include mar(15px 0);
        @include pad(10px);
        background-color: white;
        .side-video {
            cursor: pointer;
            margin-bottom: 5px;
            border-bottom: solid 1px black;
        }
    }
    .course-head {
        margin-bottom: 10px;
        font-size: 16px;
        color: black;
    }
    .video-text {
        margin-left: -15px;
        cursor: pointer;
    }
    h5 {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 5px;
        font-family: Myriad Pro Semibold;
    }
    h6 {
        margin-bottom: 0px;
        margin-top: 2px;
    }
    span {
        color: #666;
        margin-right: 20px;
        font-size: 10px;
    }
}

.module-detBottom {
    background-color: white;
    @include mar(30px 0);
    .nav {
        margin: 5px 60px;
    }
    .nav>li>a {
        color: #555555;
        border: 0;
        border-bottom: solid 3px transparent;
    }
    .nav-tabs>li:hover>a,
    .nav-tabs>li:focus>a,
    .nav-tabs>li.active>a {
        color: #555555;
        font-weight: 300px;
        background-color: transparent;
        border: 0;
        border-bottom: solid 3px $red;
        cursor: default;
    }
    .module-content {
        margin: 50px 60px;
        text-align: justify;
    }
    button {
        padding: 3px 15px;
        background-color: #fe3d3c;
        border-radius: 7px;
        font-size: 18px;
        font-family: Myriad Pro Semibold;
        i {
            margin-right: 10px;
        }
    }
    .btn-test {
        margin: 80px 0px;
    }
}

.author {
    padding: 50px 10px;
    padding-top: 0px;
}

.seemore {
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: black;
        font-weight: 300px;
    }
}

.module {
    @include mar(30px 45px);
    .module_img {
        max-height: 150px;
        img {
            height: 130px;
        }
    }
    h5 {
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 2px;
        font-family: Myriad Pro Semibold;
    }
    h6 {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    span {
        color: #666;
        margin-right: 20px;
        font-size: 10px;
    }
}

.module-block {
    width: 218px;
    background-color: #f8f8f8;
    .video-text {
        margin: 19px;
    }
}

//Start of Modals
//start of login modal
.login-modal {
    @include mar(10px 30px);
    .login {
        width: 85%;
        margin: 0 auto;
    }
}

.input-field {
    padding: 20px;
}

.inner-addon {
    position: relative;
}


/* style icon */

.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}


/* align icon */

.left-addon .fa {
    left: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 30px;
}

.company_logo {
    @include mar(30px auto);
    text-align: center;
}

.login-btn {
    display: block;
    padding: 20px;
    .login_btn {
        display: inline-block;
        button {
            width: 200px;
        }
    }
    .forgot-text {
        display: inline-block;
        margin-left: 7px;
    }
}

//end of login modal
//start of sign up modal
.signUp-title {
    margin: 5px 0;
}

.signUp-form {
    margin: 30px auto;
}

.signupfrm {
    display: block;
    text-align: center;
    .alignment {
        margin-right: 55px;
    }
    .label-cls {
        display: inline-block;
        width: 100px;
        text-align: right;
        label {
            font-weight: normal;
        }
    }
    .input-cls {
        display: inline-block;
        width: 300px;
        margin-left: 5px;
    }
}

//End of Modals