/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$footer-menu:#bbb7c0;
$red:#eb0509;
$font-color:#ee080b;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// Mixins
@mixin position($position, $top, $left, $bottom, $right, $width, $height) {
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    width: $width;
    height: $height;
}

@mixin pad ($pads...) {
    padding: $pads;
}

@mixin mar ($mar...) {
    margin: $mar;
}

@mixin linx ($link, $visit, $hover, $active) {
    a {
        color: $link;
        &:visited {
            color: $visit;
        }
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
            border: 0;
        }
    }
}


/* Bootstrap Variables Goes Here */

@import "other/font-fix";
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/MyriadPro-Regular.otf') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: 300px;
    src: local('Myriad Pro Semibold'), url('../fonts/Myriad Pro Bold SemiExtended.ttf') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/Myriad Pro Bold SemiExtended.ttf') format('woff');
}

body {
    padding-top: 70px;
    background-size: 100%;
    font-family: Myriad Pro Regular;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

.footer_menu {
    background-color: #191919;
    color: white;
    .footer_menu_margin {
        margin: 40px 60px;
        ul {
            padding-left: 0px;
            list-style: none;
            a {
                text-decoration: none;
                color: $footer-menu;
                font-size: 12px;
            }
        }
    }
}

footer {
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px 0;
    p {
        margin: 0;
    }
    a {
        margin-left: 20px;
        text-decoration: none;
        color: white;
    }
    .footer_margin {
        margin: 0 40px;
        .arr_des {
            margin-left: 20px;
            padding: 10px;
            border: solid 1px white;
            border-radius: 100%;
            font-size: 20px;
            width: 30px;
            height: 30px;
        }
        img {
            margin-left: 20px;
        }
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
    .navbar-default {
        background-color: #ffffff;
        border: 0;
    }
    .header_margin {
        margin: 0 40px;
        .relate {
            position: relative;
            display: inline-block;
        }
        i {
            position: absolute;
            right: 25px;
            top: 23px;
        }
    }
    input {
        margin: 20px;
        border: 0;
        border-bottom: solid 1px #000;
    }
    .right-nav {
        margin-top: 10px;
        button {
            background-color: $red;
            border-radius: 5px;
            padding: 5px;
        }
        p {
            a {
                text-decoration: none;
                color: #000;
                font-size: 16px;
            }
            display: inline-block;
            margin: 10px;
        }
    }
}

.nav-up {
    transform: translateY(-100%);
}